.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .header > div:first-child {
  max-height: 400px;
  display: flex;
} */

.header > div:last-child {
  font-size: 26px;
  text-align: center;
  margin: 26px auto;
}

.header > div:last-child * {
  background: linear-gradient(180deg, #ff001f 0%, #8e0e1e 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width: 700px) {
  .header > div:last-child {
    font-size: 16px;
  }
}
